@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@400;500;700;800;900&family=Dancing+Script:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --layover-left: rgba(220, 30, 50, 0.4);
    --layover-right: rgba(50, 44, 240, 0.3);
    --btn-bg-left: rgba(220, 30, 50, 1);
    --btn-bg-right: rgba(50, 44, 240, 1);
    --hover-low-width: 25%;
    --hover-high-width: 75%;
    --speed: 1000ms
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    position: relative;
    height: 100%;
    background: rgb(56, 56, 56);
}

.split {
    position: absolute;
    height: 100%;
    width: 50%;
    transition: width var(--speed) ease-in-out;
    white-space: nowrap;
}

.split.left {
    font-family: 'Big Shoulders Stencil Text', cursive;
    top: 0;
    left: 0;
    background: center/cover no-repeat url('https://images.unsplash.com/photo-1529682341059-de00ea385782?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2893&q=80');
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--layover-left);
}


.split.right {
    font-family: 'Dancing Script', cursive;
    top: 0;
    right: 0;
    background: center/cover no-repeat url('https://images.unsplash.com/photo-1475319122043-5ca9eeceefaf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80');
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--layover-right);
}

h1 {
    color: #fff;
    position: absolute;
    font-size: 80px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

}

.btn {
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: 3px solid #fff;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}

.split.left .btn:hover {
    background-color: var(--btn-bg-left);
    border-color: var(--btn-bg-left);
}

.split.right .btn:hover {
    background-color: var(--btn-bg-right);
    border-color: var(--btn-bg-right);
}

.hoverLeft .left {
    width: var(--hover-high-width);
}

.hoverLeft .right {
    width: var(--hover-low-width);
}

.hoverRight .left {
    width: var(--hover-low-width);
}

.hoverRight .right {
    width: var(--hover-high-width);
}

@media(max-width: 480px) {
    .split h1 {
        font-size: 50px;
    }
    .split .btn {
        display: flex;
        text-orientation: upright;
        font-size: 17px;
        white-space:pre-wrap;
    }
}

@media(max-width: 740px) {
    :root {
        --hover-low-width: 45%;
        --hover-high-width: 55%;
    }

    h1 {
        font-size: 65px;
    }

    .btn {
        font-size: 20px;
    }
}

@media(max-width: 1050px) {
    :root {
        --hover-low-width: 35%;
        --hover-high-width: 65%;
    }
}